body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.customer-selection {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.astro-test {
  position: absolute;
  top: 50%;
  left: 50%;
  flex-wrap: wrap;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: block;
  max-width: 50%;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.labelastrotest,
label {
  display: block;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 42px; /* Agrandit la police du titre principal à 42px */
}


input,
select {
  width: 100%;
  font-size: 2em;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 1%;
}

button {
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  margin-top: 2%;
}

.result {
  width: 70vw;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
}
