/* src/Dashboard.css */
.dashboard-container {
    padding: 20px;
    background-color: #f4f7fd; /* Light gray background */
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .header-title h1 {
    font-size: 24px;
    color: #333;
  }

  .header-title p {
    font-size: 14px;
    color: #666;
  }

  .header-buttons {
    display: flex;
    gap: 10px;
  }

  .button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    background-color: white;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .button-primary {
    background-color: #bfbfbf;
    color: white;
    border: none;
  }

  .button:hover {
    background-color: #e2e8f0; /* Slightly lighter on hover */
  }

  .button-primary:hover {
    background-color: #a3a3a3;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "line-chart bar-chart"
      "map-chart pie-chart";
    gap: 20px;
  }

  .chart {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }

  .line-chart {
    grid-area: line-chart;
  }

  .bar-chart {
    grid-area: bar-chart;
  }

  .map-chart {
    grid-area: map-chart;
  }

  .pie-chart {
    grid-area: pie-chart;
  }

  .pie-chart-infos {
    margin-left: 25%;
    height: 100%;
  }

  .big-text {
    font-size: xxx-large;
    margin-left: 20%;
  }

  .grey-text {
    color: #666;
  }

  .bold-text {
    font-weight: bold;
    font-size: large;
  }

  .line-chart-header {
    display: flex;
    justify-content: space-between;
  }

  .pie-chart-all-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
  }

  .pie-chart-text {
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
  }

  .pie-chart-text-top {
    font-weight: bold;
    display: flex;
    gap: 2%;
    width: 100%;
    margin-left: 30%;
  }

  .pie-chart-text-bottom {
    width: 100%;
    display: flex;
    gap: 5%;
    text-align: center;
    margin-left: 50%;
  }

  .square {
    width: 25px;
    height: 25px;
  }

  .chart-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .chart-subtitle {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
  }

  .stat-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .stat-item {
    text-align: center;
  }

  .stat-item h2 {
    font-size: 24px;
    margin: 0;
  }

  .stat-item p {
    margin: 5px 0;
    color: #666;
  }

  .stat-item span {
    color: green; /* For positive percentage change */
  }

  .stat-item span.negative {
    color: red; /* For negative percentage change */
  }

  .button-group-right {
    display: flex;
    justify-content: flex-end; /* Aligner à droite */
    margin-bottom: 10px;
  }

  .select-box {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 140,0 70,70" fill="black"/></svg>') no-repeat right 10px center;
    background-position: 90% 65%;
    background-color: white;
  }

  .barchar-container {
    padding: 20px;
    width: 100%;
    height: 85%;
  }

  .top-countries {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .country-item {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 100px; /* Ajustez la largeur selon vos besoins */
  }
  
  .country-item p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  .country-item h3 {
    font-size: 18px;
    color: #0052cc;
    margin: 5px 0 0 0;
  }
  
  .country-item p:last-child {
    font-size: 12px;
    color: #666;
    margin: 0;
  }
