/* Tips.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fd;
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .container {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }

  header {
    padding: 10px 0;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
    margin: 0;
  }

  .tips-table {
    width: 100%;
    border-collapse: collapse;
    transition: 300ms;
  }

  .tip-row {
    border-bottom: 1px solid #e0e0e0;
  }

  .tip-title {
    background-color: #ffffff;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tip-title:hover {
    background-color: #f0f0f0;
  }

  .tip-title.active {
    background-color: #d0e0ff;
    font-weight: bold;
  }

  .arrow {
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .arrow.down {
    transform: rotate(0deg);
  }

  .arrow.up {
    transform: rotate(180deg);
  }

.tip-content {
  padding-left: 20px; /* Ajuste cette valeur pour décaler plus ou moins */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
}
